<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jerryhanks.parkgidi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- PlacePicker also requires OpenGL ES version 2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyBtuayGNxOKO9HnAhzY5nv4FfxSqFvkMpI" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-GyhGhLAPxxg2T7a1z72rff5oDNfVDHo" />

        <activity
            android:name=".home.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".auth.AuthActivity"
            android:theme="@style/AuthTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapsActivity"
            android:theme="@style/AppTheme.NoActionBar.Map"></activity>
        <activity android:name=".account.AccountActivity"></activity>
    </application>

</manifest>